-#---------------------------------------- head
- content_for :head do
  = stylesheet_link_tag "profiles/edit"
  - include_javascript_smartly 'profiles/new'

-#---------------------------------------- sidebar
:ruby
  link = profile_path(@profile)
  sidebar [
    [t(:actions), [
      link_to(t(:save), link, :id => 'tool-save'),
      link_to(t(:cancel), link)
    ]]
  ]

-#---------------------------------------- content
#profile
  %h2 Position: #{@profile.position.name}
  - form_for @profile, :html => {:id => 'profile_form', :multipart => true} do |f|
    %fieldset
      %legend= t '.details'
      = f.error_messages
      %table
        %tbody
          %tr
            %th
              = f.label :name, Profile.human_attribute_name(:name)
            %td
              = f.text_field :name
            %th
              = f.label :chinese_name, Profile.human_attribute_name(:chinese_name)
            %td
              = f.text_field :chinese_name
          %tr
            %th
              = f.label :mobile_phone, Profile.human_attribute_name(:mobile_phone)
            %td
              = f.text_field :mobile_phone
            %th
              = f.label :email, Profile.human_attribute_name(:email)
            %td
              = f.text_field :email
          %tr
            %th
              = f.label :education, Profile.human_attribute_name(:education)
            %td
              = f.text_field :education
            %th
              = f.label :work_experience, t('.work_experience')
            %td
              = f.text_field :work_experience
          %tr
            %th
              = f.label :birthday, Profile.human_attribute_name(:birthday)
            %td
              = f.text_field :birthday
            %th
              = f.label :channel, Profile.human_attribute_name(:channel)
            %td
              = f.text_field :channel
          %tr
            %th
              = f.label :cv, Profile.human_attribute_name(:cv)
            %td(colspan="3")
              - unless @profile.resumes.blank?
                = cv_links @profile, :with_delete => true
              .resume_field= f.file_field :resumes, :name => 'profile[resumes][0][file]', :id => 'profile_resumes_0_file'
              .input
                %input{:type => "button", :id => "btn-add-resume", :value => t('.add_resume')}
