- #---------------------------------------- head
- content_for :head do
  = stylesheet_link_tag "profiles/index"
  = link_jqueryui_stylesheet 'humanity'
  = javascript_include_tag 'profiles/index'
  = include_google_jsapi jquery: '1.3', jqueryui: '1.7'

- #---------------------------------------- sidebar
- sidebar t('tools') => [[t('.add'), new_position_profile_path(@position)]]

- #---------------------------------------- content
.position
  %h2 Position: #{@position.name}
  .summary
    %ul
      %li Category: #{@position.category.name}
      - unless @position.description
        %li= @position.description
      %li State: #{@position.state}

%h3 Profiles
%table#profile-table
  %thead
    %tr
      %th.name= t :name
      %th.state= t :state
      %th.date= t :added_at
      %th.operations= t :operations
  %tbody
    - @profiles.each do |profile|
      %tr{:id => "profile-#{profile.id}"}
        %td= link_to h(profile.name), profile_path(profile)
        %td&= profile.state
        %td= l profile.created_at, :format => :short
        %td= profile_events_links profile
- if @profiles.empty?
  %p.notice= t('.none')

- #---------------------------------------- dialogs
= render :partial => 'shared/feedback_dialog'
