-#---------------------------------------- head
- content_for :head do
  = stylesheet_link_tag "profiles/new"
  - include_javascript_smartly

-#---------------------------------------- sidebar
:ruby
  link = position_profiles_path(@position)
  sidebar [
    [t(:actions), [
      link_to(t(:save), link, :id => 'tool-save'),
      link_to(t(:cancel), link)
    ]]
  ]

-#---------------------------------------- content
#profile
  %h2 Position: #{@position.name}
  - form_for @profile, :html => {:id => 'profile_form', :multipart => true} do |f|
    %fieldset
      %legend= t '.details'
      = f.error_messages
      = f.hidden_field :position_id, :value => @position.id
      %table
        %tbody
          %tr
            %th
              = f.label :name, Profile.human_attribute_name(:name)
            %td
              = f.text_field :name
            %th
              = f.label :chinese_name, Profile.human_attribute_name(:chinese_name)
            %td
              = f.text_field :chinese_name
          %tr
            %th
              = f.label :mobile_phone, Profile.human_attribute_name(:mobile_phone)
            %td
              = f.text_field :mobile_phone
            %th
              = f.label :email, Profile.human_attribute_name(:email)
            %td
              = f.text_field :email
          %tr
            %th
              = f.label :education, Profile.human_attribute_name(:education)
            %td
              = f.text_field :education
            %th
              = f.label :work_experience, t('.work_experience')
            %td
              = f.text_field :work_experience
          %tr
            %th
              = f.label :birthday, Profile.human_attribute_name(:birthday)
            %td
              = f.text_field :birthday
            %th
              = f.label :channel, Profile.human_attribute_name(:channel)
            %td
              = f.text_field :channel
          %tr
            %th
              = f.label :assign_to, Profile.human_attribute_name(:assign_to)
            %td(colspan="3")
              = assignable_users_select_tag(@position.creator && @position.creator.displayname)
          %tr
            %th
              %label= Profile.human_attribute_name(:cv)
            %td#resumes(colspan="3")
              .resume_field= f.file_field :resumes, :name => 'profile[resumes][0][file]', :id => 'profile_resumes_0_file'
              .input
                %input{:type => "button", :id => "btn-add-resume", :value => t('.add_resume')}
    -#
      %fieldset
        %legend= Profile.human_attribute_name :cv
        %table
          %tbody
            %tr
              %td
                = f.text_area :cv, :class => 'cv'
    - f.fields_for :feedbacks, Feedback.new do |feedback_fields|
      %fieldset
        %legend= t :feedback
        %table
          %tbody
            %tr
              %td(colspan="4")
                = feedback_fields.text_area :content, :class => 'feedback'
