-#---------------------------------------- head
- content_for :head do
  = stylesheet_link_tag "profiles/new"
  = javascript_include_tag 'profiles/new'
  = include_google_jsapi jquery: '1.3'

-#---------------------------------------- sidebar
:ruby
  sidebar t(:tools) => [
    link_to(t(:save), profiles_path, :id => 'tool-save'),
    link_to(t(:cancel), position_profiles_path(@position))
  ]

-#---------------------------------------- content
#profile
  %h2 Position: #{@position.name}
  - form_for @profile do |f|
    %fieldset
      %legend= t '.details'
      = f.error_messages
      = f.hidden_field :position_id, :value => @position.id
      %table
        %tbody
          %tr
            %th
              = f.label :name, t(:name)
            %td
              = f.text_field :name
            %th
              = f.label :name, t(:birthday)
            %td
              = f.text_field :birthday
          %tr
            %th
              = f.label :education, t(:education)
            %td
              = f.text_field :education
            %th
              = f.label :work_experience, t('.work_experience')
            %td
              = f.text_field :work_experience
          %tr
            %th
              = f.label :assign_to, t('profile.assign_to')
            %td(colspan="3")
              = f.text_field :assign_to
    %fieldset
      %legend= t 'profile.cv'
      %table
        %tbody
          %tr
            %td
              = f.text_area :cv, :class => 'cv'
    - f.fields_for :feedbacks, Feedback.new do |feedback_fields|
      %fieldset
        %legend= t :feedback
        %table
          %tbody
            %tr
              %td(colspan="4")
                = feedback_fields.text_area :content, :class => 'feedback'
