-#---------------------------------------- head
- content_for :head do
  = stylesheet_link_tag "profiles/show"
  = link_jqueryui_stylesheet 'humanity'
  = javascript_include_tag 'profiles/show'
  = include_google_jsapi jquery: '1.3', jqueryui: '1.7'

-#---------------------------------------- sidebar
:ruby
  shortcuts = []
  shortcuts << ['back', position_profiles_path(@profile.position)]

  if p = @profile.previous_one
    shortcuts << ['previous profile', profile_path(p)]
  else
    shortcuts << 'previous profile'
  end

  if p = @profile.next_one
    shortcuts << ['next profile', profile_path(p)]
  else
    shortcuts << 'next profile'
  end

  cv = if @profile.cv.exists?
         link_to @profile.cv.original_filename, @profile.cv.url
       else
         t('.no_cv')
       end

  sidebar [
    [t(:shortcuts), shortcuts],
    [t(:picture), [sidebar_picture_for(@profile)]],
    [t(:CV), cv]
  ]

-#---------------------------------------- content
- if flash[:failure]
  .error&= t falsh[:failure]
#details
  %table
    %caption= t '.detials'
    %tbody
      %tr
        %th
          %label= t :name
        %td&= @profile.name
        %th
          %label= t :birthday
        %td= @profile.birthday ? l(@profile.birthday) : nil
      %tr
        %th
          %label= t :education
        %td&= @profile.education
        %th
          %label= t :work_experience
        %td= @profile.work_experience ? "%d %s" % [@profile.work_experience, t(:years)] : nil
      %tr
        %th
          %label= t :state
        %td#state(colspan="3")
          #name= @profile.state
          - unless @profile.state_events.blank?
            %ul.horizontal
              - @profile.state_events.each do |event|
                %li
                  %input{:type => 'button', :value => event, 'data-href' => handle_profile_path(:id => @profile, :event => event), :class => 'event'}
#logs
  %h3= t '.log'
  %dl
    - @profile.logs.each do |log|
      %dt
        .action= log.action
        .operator
          by:
          &= log.operator ? log.operator.displayname : '-'
        .date= l log.created_at
        .clear-float
      %dd
        - if log.feedback.blank?
          = t '.no_feedbacks'
        - else
          &= log.feedback.content

-#------------------------------------------dialog
= render :partial => 'shared/feedback_dialog'
