-#---------------------------------------- head
- content_for :head do
  = stylesheet_link_tag "profiles/show"
  = link_jqueryui_stylesheet 'humanity'
  = javascript_include_tag 'profiles/show'
  = include_google_jsapi jquery: '1.3', jqueryui: '1.7'

-#---------------------------------------- sidebar
:ruby
  shortcuts = []
  shortcuts << ['back', position_profiles_path(@profile.position)]

  if p = @profile.previous_one
    shortcuts << ['previous profile', profile_path(p)]
  else
    shortcuts << 'previous profile'
  end

  if p = @profile.next_one
    shortcuts << ['next profile', profile_path(p)]
  else
    shortcuts << 'next profile'
  end

  sidebar t(:shortcuts) => shortcuts

-#---------------------------------------- content
- if flash[:failure]
  .error&= t falsh[:failure]
#details
  %table
    %caption= t '.detials'
    %tbody
      %tr
        %th
          %label= Profile.human_attribute_name :name
        %td
          &= @profile.name
        %th
          %label= Profile.human_attribute_name :chinese_name
        %td
          &= @profile.chinese_name
      %tr
        %th
          %label= Profile.human_attribute_name :mobile_phone
        %td
          = @profile.mobile_phone
        %th
          %label= Profile.human_attribute_name :email
        %td
          = @profile.email
      %tr
        %th
          %label= Profile.human_attribute_name :education
        %td
          &= @profile.education
        %th
          %label= Profile.human_attribute_name :work_experience
        %td
          = @profile.work_experience ? "%d %s" % [@profile.work_experience, t(:years)] : nil
      %tr
        %th
          %label= Profile.human_attribute_name :birthday
        %td
          = @profile.birthday ? l(@profile.birthday) : nil
        %th
          %label= Profile.human_attribute_name :channel
        %td
          &= @profile.channel
      %tr
        %th
          %label= Profile.human_attribute_name :assign_to
        %td(colspan="3")
          = assign_info(@profile)
      %tr
        %th
          %label= Profile.human_attribute_name :state
        %td#state(colspan="2")
          = @profile.state
        %td
          %input{:type => 'button', :value => t(:change_state), 'data-href' => shift_profile_path(@profile), :class => 'event'}
- unless @profile.cv.blank?
  #cv
    %h3
      = Profile.human_attribute_name :cv
      = link_to t('.fullscreen'), '#cv-content', :id => 'fullscreen', :rel => 'facebox', 'data-loadingimg' => image_path('facebox/loading.gif'), 'data-closeimg' => image_path('facebox/closelabel.gif')
    %hr
    #cv-content
      %pre= @profile.cv
#logs
  %h3= t '.log'
  %hr
  %dl
    - @profile.logs.each do |log|
      %dt
        .action= t(log.action, :scope => 'profile.log.action')
        .operator
          by:
          &= log.operator ? log.operator.displayname : '-'
        .date= l log.created_at
        .clear-float
      %dd(style="width:600px;overflow-x:auto;")
        - if log.feedback.blank?
          = t '.no_feedbacks'
        - else
          %pre&= log.feedback.content

-#------------------------------------------dialog
= render :partial => 'shared/state_dialog'
