- form_for @position do |f|
  %table
    %tbody
      %tr
        %th= f.label :category_id, t('position.category')
        %td= f.select :category_id, Category.all(:order => 'name').map { |c| [c.name, c.id] }
      %tr
        %th= f.label :name, t('position.name')
        %td= f.text_field :name
      %tr
        %th= f.label :description,  t(:description)
        %td= f.text_area :description
      %tr
        %th= f.label :need, t('position.need')
        %td= f.text_field :need
