- #---------------------------------------- head
- content_for :head do
  = stylesheet_link_tag "positions/index"
  = link_jqueryui_stylesheet 'humanity'
  = javascript_include_tag 'positions/index'
  = include_google_jsapi jquery: '1.3', jqueryui: '1.7'

- #---------------------------------------- sidebar
- sidebar t('.tools') => [[t('.add_position'), new_position_path, {id: 'button-link-position-new'}]]

- #---------------------------------------- content
- if @positions.nil? or @positions.empty?
  .notice= t('.no_positions', :new_link => link_to(t(:here), new_position_path))
- else
  %table
    %thead
      %tr
        %th= t '.category'
        %th= t :name
        %th= t :description
        %th= t :state
        %th
    %tbody
      - @positions.each do |position|
        %tr
          %td&= position.category.name
          %td&= position.name
          %td&= position.description
          %td&= position.state
          %td

- #---------------------------------------- dialogs
#position-form.dialog{'data-dialog-title' => t('.create_position'), 'data-dialog-width' => 600, 'data-dialog-height' => 300}
  %form{:action => positions_path, :method => "POST"}
    %table
      %tbody
        %tr
          %td
            %label(for="position[category]")= t('.category')
          %td
            %select(name="position[category]")
              = options_from_collection_for_select @categories, 'id', 'name'
            = link_to "(#{t '.add'})", categories_path, id: 'button-link-category-new'
        %tr
          %td
            %label(for="position[name]")= t :name
          %td
            %input(type="text" name="position[name]")
        %tr
          %td
            %label(for="position[description]")= t :description
          %td
            %textarea(name="position[description]")
        %tr
          %td
            %label(for="position[need]")= t '.need'
          %td
            %input(type="text" name="position[need]")

#category-form.dialog.modal{'data-dialog-title' => t('.create_category')}
  %form{:action => categories_path, :method => "POST"}
    %table
      %tbody
        %tr
          %td
            %label(for="category[name]")= t :name
          %td
            %input(type="text" name="category[name]")
        %tr
          %td
            %label(for="category[description]")= t :description
          %td
            %textarea(name="category[description]")
