#state-form.dialog.not-resizable{'data-dialog-title' => t(:change_state), 'data-dialog-width' => 960, 'data-dialog-height' => 600}
  - form_tag({}, :id => 'state-changing-form')do
    %table
      %tr
        %th
          %label(for='profile[state]')= Profile.human_attribute_name :state
        %td= profile_state_select_tag
      %tr
        %th
          %label(for="profile[assign_to]")= t('profile.assign_to')
        %td= assignable_users_select_tag(defined?(selected_user) && selected_user)
      %tr
        %td(colspan="2")
          = t '.send_appointment'
          = check_box_tag 'send_appointment', '1', false,  :id => 'appointment-switch'
      %tr.appointment-fields.hidden
        %th
          %label= t '.when'
        %td
          = text_field_tag 'appointment[start_time]'
      %tr.appointment-fields.hidden
        %th
          %label= t '.location'
        %td
          = text_field_tag 'appointment[location]'
      %tr
        %th
          %label(for="feedback[content]")= t(:feedback)
        %td= text_area_tag 'feedback[content]', nil, :style => 'width: 830px;height: 410px'
