- content_for :sidebar do
  %ul
    %li
      %h2 Inbox
      %p Hello world
    %li
      %h2 Categories
      %ul
        %li= link_to "Aliquam libero", "#"
        %li= link_to "Aliquam libero", "#"
        %li= link_to "Aliquam libero", "#"
        %li= link_to "Aliquam libero", "#"
        %li= link_to "Aliquam libero", "#"
        %li= link_to "Aliquam libero", "#"
        %li= link_to "Aliquam libero", "#"
    %li
      %h2 Archives
      %ul
        %li= link_to "ABCDEF WEF WER", "#"
        %li= link_to "ABCDEF WEF WER", "#"
        %li= link_to "ABCDEF WEF WER", "#"
        %li= link_to "ABCDEF WEF WER", "#"
        %li= link_to "ABCDEF WEF WER", "#"
        %li= link_to "ABCDEF WEF WER", "#"
        %li= link_to "ABCDEF WEF WER", "#"
